@font-face 
 /* Définition d'une nouvelle police nommée Raleway */
 {
	font-family: 'Raleway';
    src: url('Font/Raleway-Italic-VariableFont_wght.ttf') format('truetype');
    src: url('Font/Raleway-VariableFont_wght.ttf') format('truetype');
    font-weight: regular;
    font-style: normal;
 }
 body
 {

    font-family: "Raleway", Arial, sans-serif;

 }
 
.cannebiere
{
width: 188px;
height: 125px ;

}
.port
{
width: 188px;
height: 125px ;
}
.mouettes
{
width:188px;
height: 125px;
}
.mer
{
width:188px;
height: 125px;   
}
.panier
{
width:188px;
height: 125px;   
}
.amina
{
width:188px;
height: 125px;   
}
.coeurdelo
{
width:188px;
height:125px;
}
.bleublanc
{
width:188px;
height:125px;

}
.soleil
{
   width:188px;
   height: 125px;

}

.header
{
display: flex;
justify-content: space-between;
flex-wrap: nowrap;
}

.section_2
{
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}

.hebergementspop
{

display: flex;
justify-content: space-between;
}

.menubleu ul li
{
display: inline-block;
list-style-type:none;
}
.menubleu a
{
   text-decoration: none;
   color: #0065FC;
   margin: 20px;
}
.hebergements
{
 padding-right: 20px;
 color:#0065FC;
 font-weight: bold;
 
}

.h1
{
padding:0px;
margin: 0px;

}
.fa-map-marker-alt
{
background-color: #0065fc;;
font-size: 15px;
padding: 10px;
border-radius: 10px 0 0 10px;
}

.i
{
color: #0065fc;
background-color: #DEECFF;
font-size: 15px;
padding: 10px;
border-radius: 10px 0 0 10px;
}

.search_bouton
{
   color:white;
   background-color: #0065FC;
   border: none
}
.city
{
   background-color: none;
   border: none;
   box-shadow:none;
}