@font-face 
 /* Définition d'une nouvelle police nommée Raleway */
 {
	font-family: 'Raleway';
    src: url('Font/Raleway-Italic-VariableFont_wght.ttf') format('truetype');
    src: url('Font/Raleway-VariableFont_wght.ttf') format('truetype');
    font-weight: regular;
    font-style: normal;
 }
 body
 {

    font-family: "Raleway", Arial, sans-serif;

 }
 
.cannebiere
{
width: 188px;
height: 125px ;

}
.port
{
width: 188px;
height: 125px ;
}
.mouettes
{
width:188px;
height: 125px;
}
.mer
{
width:188px;
height: 125px;   
}
.panier
{
width:188px;
height: 125px;   
}
.amina
{
width:188px;
height: 125px;   
}