@font-face 
/* Définition d'une nouvelle police nommée Raleway */
{
font-family: 'Raleway';
src: url('Font/Raleway-Italic-VariableFont_wght.ttf') format('truetype');
src: url('Font/Raleway-VariableFont_wght.ttf') format('truetype');
font-weight:normal;
font-style: normal;
}


body
{

font-family: "Raleway", Arial, sans-serif;
line-height: 1.5em;
margin: 0rem;


}

.conteneur
{
margin: 2rem;
}

a
{
color: black;
font-size: 1rem;
text-decoration: none;
}


h1
{
padding:0rem;
margin-top:3rem;
line-height: 0.2rem;
margin-left: 0rem;
font-size: 1.4rem;
}

h2
{
font-size: 1.2rem;
margin-top: 2rem;
margin-bottom: 0.5rem;

}

p
{
margin-bottom: 0rem;
}

header
{
display: flex;
flex-flow: row nowrap;
justify-content: space-between;
margin-top: 2.5rem;
}
.logo_reservia
{
margin-top: -1rem;
}

.menubleu
{
display: flex;
flex-direction: row;
margin-right: 0rem;

}

.nav_1
{
display: flex;
flex-direction: row;
flex-wrap: nowrap;
margin-top: 0rem;

}


ul li
{

list-style-type:none;  

}

.nav1
{

margin: 1rem;
color: grey;
padding-right: 2rem;
}

.nav2
{

margin: 1rem;
color: gray;
padding-right: 2rem;
}

.nav1:hover
{
color:#0065FC;
border-top: solid;
border-color: #0065fc;
padding-top: 2rem;
padding-right: 0rem;
}

.nav2:hover
{
color:#0065FC;

border-top: solid;
border-color: #0065fc;
padding-top: 2rem;
padding-right: 0rem;
}

.inscrire
{
margin-left: 1rem;
color: #0065FC;

}


.nature
{
padding:0rem;
margin-top:3rem;
line-height: 0.2rem;
margin-left: 0rem;
font-size: 1.4rem;
}

.formulaire
{
margin-top: 1.5em;
}

.fa-map-marker-alt

{
background-color: #F2F2F2;
font-size: 16px;
padding: 1.2rem;
padding-bottom:1.2rem;
border-radius: 10px 0 0 10px;
margin: 0rem;
}

.champville
{
border:solid;
border-color: #F2F2F2;
padding: 1rem;
padding-right: 0rem;
margin:0rem;
margin-left: -0.25rem;
font-weight: bold;
font-size: 1rem;

}
.search_button
{
background-color: #0065fc;
font-size: 15px;
margin: -0.5rem;
padding: 1.1rem;
padding-right: 2.2rem;
border-radius: 0px 13px 13px 0px;
border:none;
color: white;
font-weight: bold;

}
.search_button::before
{

content: "Rechercher";
}

.loupe_button
{
display: none;
}

.filtres
{
font-weight: bold;
display: flex;
margin: 2rem;
flex-wrap: nowrap;
align-items: baseline;
margin-left: 0rem;
width:100%;
}


.theme
{
margin-right: 0rem;
padding-right: 0rem;
}

.logo
{  
display: flex;
font-weight: bold;
border-top: solid;
border-bottom: solid;
border-right: solid;
border-radius:50px ;
border-color:#F2F2F2;
border-top-left-radius: 29px;
border-bottom-left-radius: 29px;
padding-right: 1rem;
margin-left: 2rem;
padding-left: 1rem;
width: %;
}

.logo_rom
{
display: flex;
    font-weight: bold;
border-top: solid;
border-bottom: solid;
border-right: solid;
border-radius:50px ;
border-color:#F2F2F2;
border-top-left-radius: 29px;
border-bottom-left-radius: 29px;
padding-right: 1rem;
margin-left: 1rem;
padding-left: 1rem;
width: 9%;
}

.logo_dog
{
display: flex;
flex-direction: row;
flex-wrap: nowrap;
        font-weight: bold;
border-top: solid;
border-bottom: solid;
border-right: solid;
border-radius:50px ;
border-color:#F2F2F2;
border-top-left-radius: 29px;
border-bottom-left-radius: 29px;
padding-right: 0rem;
margin-left: 1rem;
padding-left: 1rem;
width: 14%;
}

.theme_log
{

margin: 0.5rem;

}

.logo:hover
{
border: none;
background-color: #DEECFF;
font-size: 1rem;

}

.logo_rom:hover
{
border: none;
background-color: #DEECFF;
font-size: 1rem;

}

.logo_dog:hover
{

border: none;
background-color: #DEECFF;
font-size: 1rem;


}

.fa-money-bill-wave
{
color: #0065FC;
background-color:#DEECFF;
width: 17px;
height: 17px;
padding: 1rem;
margin-right:0.5rem;
border-radius:50%;
margin-left: -2.3rem;

}
.fa-child
{
color: #0065FC;
background-color:#DEECFF;
width: 17px;
height: 17px;
padding: 1rem;
margin-right:0.5rem;
border-radius:50%;
margin-left: -2rem;
}

.fa-child:before
{
padding-left: 0.2rem;
}

.fa-heart
{color:#0065FC;
background-color:#DEECFF;
width: 17px;
height: 17px;
padding: 1rem;
padding-left: 1.1rem;
border-radius:50%;
margin-left: -1.5rem;
}
.fa-dog
{
color:#0065FC;
background-color:#DEECFF;
width: 17px;
height: 17px;
padding: 1rem;
padding-left: 1.1rem;
border-radius:50%;
margin-left: -1.5rem;
}
.info_logements
{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-bottom: 0.5rem;
}
.fa-info
{
border: solid 3px;
border-color: #F2F2F2;
color: #0065FC;
background-color: white;
height: 14px;
width: 14px;
font-size: 0.7rem;
padding: 0.5rem;
border-radius: 50%;
margin-right: 1rem;
margin-bottom: 1rems;
}

.fa-info:before
{
padding-left: 0.3rem;
}

.section_2et3
{
display:flex;
flex-direction: row;
width: 100%;
margin: 0rem;
}

h3
{
    color: black;
    font-weight: bold;
    font-size: 0.8rem;
    margin-bottom: -1rem;

}  


.section_2
{
display:flex;
justify-content: space-between;
flex-direction: column;
width: 80%;
height: 50%;
padding: 1.5rem;
background-color: #F2F2F2;
border-radius: 25px;
margin-top: 0rem;
padding-top: 0rem;
}

.titre_section2
{
padding-left: 2rem;
width: 50%;
margin-top: 0rem;
margin-bottom: 3rem;
}


.bluestar
{
color: #0065FC;
font-size: 0.8rem;

}

.greystar
{
color:#EBEBEB;
font-size: 0.8rem;
}

.Plus_bouton
{
width: 20%;
font-weight: bold;
border: none;
background-color:#F2F2F2;
font-family: 'Raleway', Arial, sans-serif;
padding: 1rem;
}

.cartes_section2
{
display: flex;
flex-flow: wrap row;
}

.carte_2
{

display: flex;
flex-direction: column;
justify-content: center;
border-radius:20px;
background-color: white;
width: 29%;
margin: 0.5rem;
padding: 0.3rem;
box-shadow: 3px 3px 3px #EBEBEB;
}

.img_2
{

width: 100%;
height: 130px;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
object-fit: cover;
padding: 0.1rem;
}

.carte_2-resize
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    background-color: white;
    width: 29%;
    height: 100%;
    margin: 0.5rem;
    padding: 0.3rem;
    box-shadow: 3px 3px 3px #ebebeb;
}


.section_3
{
display: flex;
flex-direction: column;
margin-top: 0rem;
margin-left: 2rem;
padding-left: 1rem;
padding-right: 2rem;
background-color: #F2F2F2;
width: 33%;
border-radius: 25px;

}

.ensemble_titre3
{
display: flex;
flex-direction: row;
justify-content: space-between;
font-weight: bold;
padding-top: 0rem;
}

.fa-chart-line
{

margin-top: 2rem;
color: black;
font-size: 1rem;
}

.cartes_section3
{
display:flex;
flex-direction: column;
margin-top: 0.5rem;
}

p
{
    font-size:0.8rem;
}

.soleil-matin

{

display: flex;
flex-direction: row;
flex-wrap: nowrap;
border-radius: 20px;
background-color: white;
height: 149px;
padding: 0.3rem;
width: 100%;
margin-bottom: 1rem;
box-shadow: 3px 3px 3px #ebebeb;
}


.info_3
{
display: flex;
flex-direction: column;
flex-wrap: wrap;
line-height: 1rem;
margin-left: 1rem;

}

.img_3

{

width: 45%;
height: 149px;
border-top-left-radius: 20px;
border-bottom-left-radius: 20px;
object-fit: cover;

}

.stars
{

margin-top: 2rem;

}
.partie_4
{
    height: 50%;
}
.section_4
{
display: grid;
grid-template-columns:23% 23% 23% 23%;
grid-template-rows: 12% 13% 12% 13% ;
grid-column-gap: 2rem;
grid-row-gap: 1rem;
margin-bottom: -11rem;
}
.T4
{

grid-column-start:1;
grid-column-end: 1;
grid-row-start: 1;
grid-row-end: 1;
align-self: flex-end;
margin-top: 0rem;
}
.quatre
{

padding-left: 1rem;
font-size: 0.8rem;
}

.carte_1-4
{

grid-column-start: 1;
grid-column-end: 1;
grid-row-start: 2;
grid-row-end: 5;
align-self: start;
height: 129%;
width: 96%;
margin-left: 0rem;
border-radius: 20px;
box-shadow: 3px 3px 3px #EBEBEB;
}

.port
{
width: 100%;
height: 100%;
margin-left: 0rem;
margin-top: 0rem;
margin-bottom: 0rem;
}

.port_img
{
object-fit: cover;
width: 100%;
height: 411px;
border-top-left-radius: 20px;
border-top-right-radius: 20px;

}

.carte_2-4
{
grid-column-start: 2;
grid-column-end: 3;
grid-row-start: 2;
grid-row-end: 4;
align-self: start;
height: 100%; 
margin-left: 0rem;
border-radius: 20px;
box-shadow: 3px 3px 3px #EBEBEB;
}

.pomegue

{

width: 100%;
height: 80%;
margin-left: 0rem;
margin-top: 0rem;
}
.pomegue_img
{

object-fit: cover;
width: 100%;
height: 100%;

border-top-left-radius: 20px;
border-top-right-radius: 20px;

}

.carte_3-4
{
grid-column-start: 2;
grid-column-end: 3;
grid-row-start: 4;
grid-row-end: 5;
align-self: start;
height: 191%; 
margin-left: 0rem;
border-radius: 20px;
box-shadow: 3px 3px 3px #EBEBEB;
}
.frioul
{

width: 100%;
height: 74%;
margin-left: 0rem;
margin-top: 0rem;
margin-bottom: 0rem;

}
.frioul_img
{

object-fit: cover;
width: 100%;
height: 100%;
border-top-left-radius: 20px;
border-top-right-radius: 20px;

}
.carte_4-4
{
grid-column-start: 3;
grid-column-end: 4;
grid-row-start: 2;
grid-row-end: 5;
height: 128%;
width: 96%;
border-radius: 20px;
box-shadow: 3px 3px 3px #EBEBEB;
align-self: start;
}
.calanques
{
width: 100%;
height:330px;
margin-left: 0rem;
margin-top: 0rem;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
}

.calanques_img
{

object-fit: cover;
width: 100%;
height: 410px; 
border-top-left-radius: 20px;
border-top-right-radius: 20px;
}
.carte_5-4
{

grid-column-start: 4;
grid-column-end: 5;
grid-row-start: 2;
grid-row-end: 3;
height: 191%;
margin-left: 0rem;
border-radius: 20px;
box-shadow: 3px 3px 3px #EBEBEB;
align-self: start;

}
.lagarde

{

width: 100%;
height: 78%;
margin-left: 0rem;
margin-top: 0rem;

}
.lagarde_img
{
object-fit: cover;
width: 100%;
height: 100%;

border-top-left-radius: 20px;
border-top-right-radius: 20px;  
}

.carte_6-4
{
grid-column-start: 4;
grid-column-end: 5;
grid-row-start: 4;
grid-row-end: 5; 
height: 192%;
margin-left: 0rem;
border-radius: 20px;
box-shadow: 3px 3px 3px #EBEBEB;
align-self: start;
}

.longchamp
{

width: 100%;
height: 100%;
margin-left: 0rem;
margin-top: 0rem;
}
.longchamp_img
{
object-fit: cover;
width: 100%;
height: 74%;

border-top-left-radius: 20px;
border-top-right-radius: 20px;  
}

footer
{
    display: flex;
    flex-direction: row;
    background-color: #ebebeb;
    margin: -2rem;
    }

.titreBP
{
margin-bottom: 1rem;
}
.apropos
{
display:flex;
flex-direction: column;
margin: 3rem;
margin-right: 10rem;
line-height: 1rem;
}

.foot_heb
{
display:flex;
flex-direction: column;
margin: 3rem;
margin-right: 13rem;
line-height: 1rem;
}
.assistance
{
display:flex;
flex-direction: column;
line-height: 1rem;
margin: 3rem;
}


@media all and (max-width:1024px) {

    .menubleu
    {
        padding-left: 23rem;
    }
     

    .logo
    {
        width: 14%;
    }

    .logo_rom
    {
        width: 14%;
    }

    .logo_dog
    {
        width: 20%;
    }
    .info_logements
        {
            display: flex;
        
        }
    
        .section_2
        {
            width: 83%;
        }
    
        .carte_2
        {
            width: 28%;
        }
        
        .section_3
        {
            margin-right: 0;
        }
    
        .section_4
         {
            grid-template-columns: 23% 23% 23% 23%;
            grid-template-rows: 10% 20% 20%;
            grid-column-gap: 1.5rem;
            grid-row-gap: 2rem;
        }
    .carte_1-4
    {
        height: 100%;
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 2;
        grid-row-end: 4;
    }

    .port_img
    {
        height: 268px;
    }
    
    .carte_2-4 
    {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        height: 100%;
    }

    .pomegue_img
 {
     height: 92%;
 }

    .carte_3-4
    {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
height: 100%;
    }

    .carte_4-4
    {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 4;
        height: 100%;
    } 
    
    .calanques_img
    {
    height: 265px;
    }

    .carte_5-4 
    {
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 3;
        height: 100%;
    }

    .lagarde_img
    {
        height: 92%;
    }

    .carte_6-4
     {
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 4;
        height: 100%;
    }
    
    footer
    
    {
    
        width: 100%;
        height: 217px;
        margin-left: -2rem;
        padding-right: 4rem;
    }
    
    
    
    }
    

@media all and (max-width:768px){ /*tablettes*/

    
    
.menubleu
 {
padding-left: 2rem;
 }

.nav1
{
padding-left: 1rem;
}

.nav2
{
padding-left: 1rem;
}

h1
{
width: auto;
font-size: 150%;


}

.nature
{

font-size: 100%;

    
}

.formulaire
{
display: flex;
max-width: 100%;


}

.champville
{
max-width: 70%;
margin-right: -1rem;
}

.search_button
{
display: none;
}

.loupe_button
{
display: flex;
background-color: #0065fc;
font-size: 15px;
padding: 2rem;
border-radius: 13px 13px 13px 13px;
border:none;
color: white;
font-weight: bold;
}

.filtres 
{

width: 100%;
}

.theme
{

    margin-right: 1rem;
}

.theme_log
{
    font-size: 0.7rem;
}

.logo_dog
{

    width: 22%;
}


.section_2et3
{


    flex-direction: column-reverse;
    
}

.section_3
{
    padding-right: 5rem;
    width: 86%;
    margin-left: -2rem;
    padding-left: 5rem;
    border-radius: 0px;
  }

.img_3
{

    width: 83%;
}

.section_2
{
    padding-right: 0rem;
    width: 93%;
    margin-left: -2rem;
    padding-left: 5rem;
    border-radius: 0px;
    background-color: white;
}

h2
{
    padding-left: 1rem;
}

.carte_2
{
    width: 29%;
}


.section_4
{
grid-template-columns: 50% 50%;
grid-template-rows: 6% 17% 17% 17% 17%;
background-color: white;

}

.T4
{
grid-column-start: 1;
grid-column-end: 1;
grid-row-start:1;
grid-row-end: 1;   
}

.carte_1-4
{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 3;
    width: 160%;
    height: 317px;
    margin-left: 6rem;
 margin-top: 1rem;
}

.port
{
width: 100%;
height: 78%;
}

.carte_2-4
{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;
    width: 72%;
    height: 58%;
    margin-left: 7rem;
margin-top: 5rem;
}

.carte_3-4
{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
    width: 80%;
    height: 55%;
    margin-top: 5rem;
      margin-left: 0rem;
    margin-bottom: 5rem;
}

.frioul_img
{

    height: 106%;
}
.carte_4-4
{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 4;
    grid-row-end: 4;
    width: 160%;
    height: 317px;
    margin-left: 6rem;
 margin-top: 1rem;
}


.carte_5-4
{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 5;
    grid-row-end: 6;
    width: 80%;
    height: 55%;
    margin-left: 6rem;
    margin-top: 5rem;
}

.carte_6-4
{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 5;
    width: 72%;
    height: 58%;
    margin-left: 2rem;
    margin-top: 5rem;
}

footer
{
    margin: -3rem;
    padding-right: 5rem;
    height: 100%;
}

.apropos
{
    margin-right: 0rem;
}

.foot_heb
{
        margin-right: 6rem;
}

}

@media all and (max-width:425px){

    
.logo_reservia
{
    margin-top: -8rem;
    margin-left: -0.5rem
    
}

    .menubleu
    {
        flex-direction: column-reverse;
        padding-left: 0rem;
        margin-left: 1rem;
    }


    .nav_1 {
        border-bottom: solid;
    border-color: #F2F2F2;
    padding-bottom: 0.5rem;
    margin-top: 4rem;
    margin-left: -15rem;
    padding-left: 9rem;
    margin-right: -2rem;
    }

    .nav1
    {
        margin-left: -6rem;
    padding-left: 0rem;

    
    }
    
    .nav1:hover
    {
        color:#0065FC;
        border-top: none;
        border-bottom: solid;
        border-color: #0065fc;
        padding-bottom: 0.5rem; 
 padding-right: 2rem;
    }
    
    .nav2
    {
            padding-left: 7rem;
            margin-left: -4rem;
            padding-right: 0rem;
    }
    
    .nav2:hover
    {
        color:#0065FC;
    border-top: none;
        border-bottom: solid;
        border-color: #0065fc;
        padding-bottom: 0.5rem;
        padding-left: 4rem;
        padding-right: 4rem;
    }
    
    .inscrire
    {
    
        padding-top: 0rem;
        margin-left: 3rem;
    }

    h1
    {
        margin-left: 0rem;
        line-height: 1.5rem;
        margin-bottom: 0rem;
    }
    
    .nature
    {
        display: flex;
        width: 100%;
        margin-right: 0rem;
        margin-top: 1rem;
    }
.formulaire
{
    width: 92%;
    height: 3.5rem;
}

.fa-map-marker-alt
{
    font-size: 1.5rem;
}

.loupe_button
{
    font-size: 1rem;
    padding: 1rem;
    padding-right: 1rem;

}
.fa-search:before 
{

    padding-right: 0.2rem;
}


.filtres
{
    margin-left: 0rem;
    flex-wrap: wrap;
}

.theme
{
    margin: 0rem;
    padding-right:13rem;
    margin-bottom: 0.5rem;
}


.logo
{
    display: flex;
    justify-content: center;
    margin-right: 1rem;
    padding-left: 0rem;
    margin-left: 1.2rem;
    height: 40px;
    width: 30%;
    margin-bottom: 0.7rem;
}


.logo_rom
{
    display: flex;
    justify-content: center;
    margin-right: 10rem;
    padding-left: 0rem;
    margin-left: 1rem;
    height: 40px;
    width: 30%;
    margin-bottom: 0.7rem;
}

.logo_dog
{

display: flex;
justify-content: center;
margin-right: 1rem;
padding-left: 0rem;
margin-left: 1rem;
height: 40px;
width: 47%;
margin-bottom: 0.7rem;
}

.fa-money-bill-wave
{
margin-left: -0.8rem;
width: 12px;
    height: 12px;
    margin-top: -0.1rem;
}


.fa-money-bill-wave::before
{
margin: -0.3rem;
}

.fa-child
{
    margin-left: -0.8rem;
    width: 12px;
    height: 12px;
    margin-top: -0.1rem;
}

.fa-child::before
{


    margin: -0.3rem;
}

.fa-heart
{
    margin-left: -0.8rem;
    width: 12px;
    height: 12px;
    margin-top: -0.1rem;
}

.fa-heart::before
{    
margin: -0.2rem;
}
.fa-dog
{
    margin-left: -0.8rem;
    width: 12px;
    height: 12px;
    margin-top: -0.1rem;
}

.fa-dog::before
{
    
margin: -0.3rem;
}


.fa-info
{

    margin-right: 2.5rem;
    margin-left: 0rem;
    margin-top: 0rem;
}

.info_logements
{
display: flex;
flex-direction: row;
margin-bottom: 2rem;
margin-right: 0rem;
}

.nb_logement
{
    padding-top: 0.5rem;
    margin-left: -2rem;
    line-height: 1.2rem;
    width: 100%;
    font-size: 0.9rem;
}

.info_logements
 {
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
    margin-left: 0rem;
}

.section_3 {

    width: 100%;
    margin-left: -2rem;
    border-radius: 0px;
    padding: 2rem;
}


.img_3
{
    width: 43%;
}

.section_2
{
    
    width: 100%;
    margin-left: -2rem;
    border-radius: 0px;
    padding: 1rem;
}

.cartes_section2
{

    flex-direction: column;
}

.carte_2
{
    width: 95%;

}

.carte_2-resize
{

    width: 95%;
}

.Plus_bouton
{
    width: 40%;
    padding: 1rem;
background-color: white;
}

.section_4
{
    grid-template-columns: 100%;
    grid-template-rows: 2% 10% 10% 10% 10% 10% 10%;
    grid-row-gap: 1rem;
    margin-bottom: -35rem;
}

.carte_1-4 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 3;
    width: 95%;
    height: 100%;
    margin-left: 0rem;
    margin-top: 0rem;
  
}

.port_img
{
    height: 140px;
}

.carte_2-4 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 4;
    width: 95%;
    height: 100%;
    margin-top: 0rem;
    margin-left: 0rem;

}

.pomegue_img {
    height: 92%;
}

.carte_3-4 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 4;
    grid-row-end: 5;
    width: 95%;
    height: 100%;
    margin-top: 0rem;
    margin-bottom:0rem;
}

.frioul
{

    height: 75%;
}

.carte_4-4
{
 grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 5;
    grid-row-end: 6;
    width: 95%;
    height: 100%;
    margin-left: 0rem;
    margin-top: 0rem;
    
}

.calanques_img
{

    height: 139px;
}
.carte_5-4
{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 6;
    grid-row-end: 7;
    width: 95%;
    height: 100%;
      margin-top: 0rem;
      margin-left: 0rem;
  
  }



.carte_6-4
{ grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 7;
    grid-row-end: 8;
    width: 95%;
    height: 100%;
    margin-top: 0rem;
    margin-left: 0rem;
}

footer
{
flex-direction: column;
height: auto;
margin-left: -2rem;
padding-right: 4rem;
}

.titreBP
{
    font-size: 1rem;
}
}

@media all and (max-width:375px){

.nav1
{
    margin-left: -2rem;
}

}